################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/bin
/XppMetadata/XDSPolicySample
/BuildProjectResult.xml
/BuildProjectResult.log
/BuildProjectResult.err.xml
/BuildModelResult.xml
/BuildModelResult.log
/XDSPolicySample.xref
/Projects/XDSPolicySample/.vs/
/Projects/XDSPolicySample/XDSPolicySample/obj/
